version: "3.8"
services:
  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_ENV=local
      - SECRET_KEY=devsecret
    depends_on:
      - db
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: kis
      POSTGRES_USER: kis
      POSTGRES_PASSWORD: kis
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    ports:
      - "6379:6379"
volumes:
  pgdata:
